$desktop: 1560px;
$tablet: 991px;
$mobile: 768px;
$mobile-mini: 450px;

@mixin desktop {
    @media screen and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
}

@mixin mobile-mini {
    @media screen and (max-width: #{$mobile-mini}) {
        @content;
    }
}

@mixin custom($width) {
    @media screen and (max-width: #{$width}) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}
