/*
    COLOR
*/
:root {
	--color-black: #222;
	--color-grays: #F2F2F2;
	--color-grays2: #ababab;
	--color-darkGrays: #404040;
	--color-deepGrays: #666;
	--color-light: #999999;
	--color-white: hsl(0, 0%, 100%);
	--color-blues: #1569E6;
    --color-orange: #DC3C00;
	--shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/*
    Z-INDEX
*/
$z-header: 15;
$z-floting: 20;
$z-select: 1;
$z-popup: 50;
$z-loading: 100;
$z-back: -1;

/*
    PATH
*/
$path-image: '../images';

/*
    FONT-WEIGHT
*/

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
