@use '../helpers/' as *;

@font-face {
  font-family: 'SF-Pro';
  src: url('/resources/font/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('/resources/font/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
